@import url("utils/normalize.css");
@import url("utils/reset.css");
@import url("utils/font.css");
@import url("utils/flex-utility.css");

:root {
  --base-unit: 24px;
  --base-unit-x1-5: calc(var(--base-unit) * 1.5);
  --base-unit-x2: calc(var(--base-unit) * 2);
  --base-unit-x3: calc(var(--base-unit) * 3);

  /* Color styles */
  --white: rgba(249, 252, 255, 1);
  --font--color: rgba(34, 40, 49, 1);
  --main--color: rgba(74, 168, 255, 1);
  --point--color: rgba(0, 123, 229, 1);
  --main--light: rgba(227, 242, 255, 1);
  --yellow: rgba(255, 201, 67, 1);
  --yellow--light: rgba(255, 252, 169, 1);
  --red: rgba(255, 46, 46, 1);
  --gray: rgba(100, 116, 139, 1);
  --light--gray: rgba(197, 203, 210, 1);

  /* Effect styles */
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  /* Text-size styles */
  --display: 32px;
  --display---h1: 28px;
  --display---h2: 24px;
  --display---h3: 20px;
  --display---h4: 18px;
  --body---x-large: 16px;
  --body---large: 16px;
  --body---medium: 14px;
  --body---caption: 12px;

  /* Text line heights*/
  --display-lh: var(--base-unit-x2);
  --display---h1-lh: var(--base-unit-x2);
  --display---h2-lh: var(--base-unit-x1-5);
  --display---h3-lh: var(--base-unit);
  --display---h4-lh: var(--base-unit);
  --body---x-large-lh: var(--base-unit);
  --body---large-lh: var(--base-unit);
  --body---medium-lh: var(--base-unit);
  --body---caption-lh: var(--base-unit);
}
@media (min-width: 481px) {
  :root {
    --display: 32px;
    --display---h1: 32px;
    --display---h2: 28px;
    --display---h3: 24px;
    --display---h4: 20px;
    --body---x-large: 18px;
    --body---large: 18px;
    --body---medium: 16px;
    --body---caption: 13px;

    --display-lh: var(--base-unit-x2);
    --display---h1-lh: var(--base-unit-x2);
    --display---h2-lh: var(--base-unit-x1-5);
    --display---h3-lh: var(--base-unit-x1-5);
    --display---h4-lh: var(--base-unit);
    --body---x-large-lh: var(--base-unit);
    --body---large-lh: var(--base-unit);
    --body---medium-lh: var(--base-unit);
    --body---caption-lh: var(--base-unit);
  }
}
@media (min-width: 769px) {
  :root {
    --display: 48px;
    --display---h1: 48px;
    --display---h2: 40px;
    --display---h3: 32px;
    --display---h4: 24px;
    --body---x-large: 20px;
    --body---large: 18px;
    --body---medium: 16px;
    --body---caption: 14px;

    --display-lh: var(--base-unit-x2);
    --display---h1-lh: var(--base-unit-x2);
    --display---h2-lh: var(--base-unit-x2);
    --display---h3-lh: var(--base-unit-x1-5);
    --display---h4-lh: var(--base-unit);
    --body---x-large-lh: var(--base-unit);
    --body---large-lh: var(--base-unit);
    --body---medium-lh: var(--base-unit);
    --body---caption-lh: var(--base-unit);
  }
}

/* Typography */
body {
  font-family: "Pretendard", sans-serif;
  letter-spacing: -5%;
  color: var(--font--color);
}

.display_h0 {
  font-size: var(--display);
  line-height: var(--display-lh);
  font-weight: 700;
  text-transform: uppercase;
}
.display_h1 {
  font-size: var(--display---h1);
  line-height: var(--display---h1-lh);
  font-weight: 700;
  text-transform: uppercase;
}
.display_h2 {
  font-size: var(--display---h2);
  line-height: var(--display---h2-lh);
  font-weight: 700;
  text-transform: uppercase;
}
.display_h3 {
  font-size: var(--display---h3);
  line-height: var(--display---h3-lh);
  font-weight: 600;
  text-transform: uppercase;
}
.display_h4 {
  font-size: var(--display---h4);
  line-height: var(--display---h4-lh);
  font-weight: 600;
  text-transform: uppercase;
}

.body_xl {
  font-size: var(--body---x-large);
  line-height: var(--body---x-large-lh);
  font-weight: 700;
}
.body_l {
  font-size: var(--body---large);
  line-height: var(--body---large-lh);
  font-weight: 500;
}
.body_m {
  font-size: var(--body---medium);
  line-height: var(--body---medium-lh);
}
.body_cap {
  font-size: var(--body---caption);
  line-height: var(--body---caption-lh);
}

/* Basic responsive display */
/* 사용되는 클래스명: .mo_only, .pc_only, .above_mo, .below_pc */
.above_mo,
.pc_only {
  display: none;
}
@media (min-width: 481px) {
  .mo_only {
    display: none;
  }
  .above_mo {
    display: block;
  }
}
@media (min-width: 769px) {
  .below_pc {
    display: none;
  }
  .pc_only {
    display: block;
  }
}

/* .wrap */
.wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
@media (min-width: 481px) {
  .wrap {
    padding: 0 32px;
  }
}
@media (min-width: 769px) {
  .wrap {
    max-width: 1272px;
    padding: 0 0px;
    margin: 0 auto;
  }
  .page_main .wrap {
    width: 75%;
    max-width: none;
    margin: none;
  }
}

/* .sr_only */
.sr_only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  inset: 50%;
  text-indent: -32768px;
  position: absolute;
}

/* Components */

/* Header */
/* 작업자: 유태구; */
header {
  padding: var(--base-unit) 0px;
  position: sticky;
  top: 0;
  z-index: 32767;

  background: var(--white);
  box-shadow: var(--shadow);
}
@media (min-width: 481px) {
}
@media (min-width: 769px) {
}

/* Side Drawer Menu */
/* 작업자: 유택구; */

/* Footer */
/* 작업자: 유태구; */
footer {
  padding: var(--base-unit);

  background: var(--white);
  box-shadow: var(--shadow);
}
footer .wrap {
  display: flex;
}

@media (min-width: 481px) {
  footer .wrap {
    display: grid;
  }
}
@media (min-width: 769px) {
  footer .wrap {
    display: grid;
  }
}
