/* hero - 문송연 */

/* QuickMenu Widget - 최호찬 */
/* 모바일 우선 */

.widget {
  width: 100%;
  padding: 32px 20px;
  background: var(--font--color);
  box-sizing: border-box;
}

.widget_container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.widget_menu {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 32px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.widget_menu::-webkit-scrollbar {
  display: none;
}

.widget_menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  color: var(--white);
  gap: 24px;
}

.widget_menu li img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.widget_coupon {
  width: 100%;
}

.widget_coupon img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* 태블릿 */

@media (min-width: 768px) {
  .widget {
    padding: 48px 20px;
  }

  .widget_container {
    max-width: 768px;
    gap: 48px;
  }

  .widget_menu {
    overflow-x: visible;
    justify-content: space-around;
    gap: 64px;
  }

  .widget_menu li {
    gap: 20px;
  }

  .widget_menu li img {
    width: 70px;
    height: 70px;
  }
}

/*데스크탑*/

@media (min-width: 1440px) {
  .widget {
    padding: 96px 0;
  }

  .widget_container {
    max-width: 1200px;
    gap: 72px;
  }

  .widget_menu {
    justify-content: space-evenly;
  }

  .widget_menu li {
    font-size: 16px;
    gap: 40px;
  }

  .widget_menu li img {
    width: auto;
  }

  .widget_coupon {
    height: 144px;
  }

  .coupon_title {
    font-size: 32px;
  }

  .coupon_desc {
    font-size: 24px;
  }
}

/* AI Face Analysis - 문송연 */
.ai_face_analysis {
  width: 100%;
  height: auto;
  padding: 96px 0;
  position: relative;
}
.ai_face_analysis::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(/image/ai_face_analysis_BG\ -\ M.png) center / cover no-repeat var(--white);
  opacity: 0.5;
  z-index: -1;
}
.ai_face_analysis_wrapper {
  padding: 0 20px;
}
.ai_text_container {
  gap: 8px;
}
.ai_text_container .ai_title {
  h2 {
    color: var(--point--color);
    font-size: var(--body---medium);
    line-height: var(--body---medium-lh);
    font-weight: 600;
  }
  p {
    font-size: var(--display---h3);
    line-height: var(--display---h3-lh);
    font-weight: 700;
  }
}
.hashtag {
  flex-wrap: nowrap;
  gap: 8px;

  p {
    background: var(--main--light);
    color: var(--point--color);
    font-size: var(--body---caption);
    line-height: var(--body---caption-lh);
    border-radius: 5px;
    padding: 0 8px;
    white-space: nowrap;
    flex-shrink: 0;
  }
}
.ai_face_analysis_wrapper video {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 188px;
  object-fit: cover;
  border-radius: 24px;
  object-position: center;
  aspect-ratio: 188/384;
}
.ai_description {
}
.ai_description_item {
  h3 {
    color: var(--point--color);
    font-size: var(--body---x-large);
    line-height: var(--body---x-large-lh);
  }
}

/* 태블릿 */
@media (min-width: 481px) {
  .ai_face_analysis {
  }
}

/* pc버전 */
@media (min-width: 769px) {
  .ai_face_analysis {
  }
}

/* best picks - 오예은 */

/* Limited Time Offer - 김해나 */

/* new collection - 최호찬 */

/* brand section - 김해나 */

/* celebs pick - 문송연 */

/* store section - 유태구 */
